{% extends 'base.html' %}
{% load static %}

{% block titulo %} LCDUNI: Usuario Inexistente {% endblock titulo %}

{% block cabecera %}<img src='{% static "img/mb.png" %}' alt='ingresar usuario' class='icono'> {% endblock cabecera %}

{% block contenido %}
<div style="text-align: center; margin-top: 20px; margin-bottom: 30px; border: 1px solid #ccc; padding: 10px;">
    
<p>Error en usuario y/o contraseña</p>
<p>Si no tiene usuario, Registrese</p>

</div>

{% endblock contenido %}


