
{% extends 'base.html' %}
{% load static %}


{% block titulo %} LCDUNI: Busqueda {% endblock titulo %}

{% block cabecera %}<img src='{% static "img/lupa.png" %}' alt='Resultado de la busqueda' class='icono'> {% endblock cabecera %}

{% block contenido %}  
<p><strong>Resultados de la Búsqueda</strong></p>

<!-- Contenedor de la tienda con rejilla usando Bootstrap -->
<div class="container">
    <div class="row">
        {% for remoto in remotos %}
            <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                <!-- ... (contenido del producto) -->
            </div>
        {% empty %}
            <p>No hay productos disponibles en la búsqueda.</p>
        {% endfor %}
    </div>
</div>




<p>Resultados: </p>




{% if remotos %}
    {% for remoto in remotos %}
    <li class="producto">
        <div class="descripcion">
            <strong>{{ remoto.marca }}</strong>
            <p>{{ producto.codigo }}</p>
            {{ remoto.get_tipo_display }}<br>
        </div>
        <div class="thumb">
            {% if remoto.foto %}
                <img src="{{ remoto.foto.url }}" alt="{{ remoto.codigo }}">
            {% endif %}
        </div>
    </li>
    {% endfor %}
{% else %}
    <p>No se encontraron coincidencias.</p>
{% endif %}


{% endblock contenido %}