{% extends 'base.html' %}
{% load static %}

{% block titulo %} LCDUNI: Catalogo OnLine {% endblock titulo %}

{% block cabecera %}
    <img src='{% static "img/mb.png" %}' alt='tienda' class='icono'>
{% endblock cabecera %}

{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2">    
            <p><strong>Resultados de la Búsqueda</strong></p>
    </div>
</div>


    <!-- Contenedor de la tienda con rejilla usando Bootstrap -->
    <div class="container">
        <div class="row">
            {% for remoto in remotos %}
                <div class="col-lg-2 col-md-2 col-sm-3 col-4"> {# Esto crea columnas que ocupan 2/12 en lg, 2/12 en md, 3/12 en sm y 4/12 en xs (dispositivos pequeños) #}
                    <div class="remoto">
                        <div class="descripcion">
                            <strong>{{ remoto.codigo }}</strong>
                            {{ remoto.marca }}<br>
                            {{ remoto.get_tipo_display }}<br>
                        </div>
                        <div class="thumb">
                            {% if remoto.foto %}
                                <a href="{{ remoto.foto.url }}" target="_blank">
                                    <img src="{{ remoto.foto.url }}" alt="{{ remoto.codigo }}" class="thumb">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No hay productos disponibles en la tienda.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Paginación al final de la página -->
    <div class="pagination">
        <span class="step-links">
            {% if remotos.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ remotos.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">
                Página {{ remotos.number }} de {{ remotos.paginator.num_pages }}.
            </span>

            {% if remotos.has_next %}
                <a href="?page={{ remotos.next_page_number }}">next</a>
                <a href="?page={{ remotos.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock contenido %}

{% comment %} {% extends 'base.html' %}
{% load static %}

{% block titulo %} LCDUNI: Catalogo OnLine {% endblock titulo %}

{% block cabecera %}
    <img src='{% static "img/tienda.png" %}' alt='tienda' class='icono'>
{% endblock cabecera %}

{% block contenido %}
    <p><strong>Tienda</strong></p>

    <!-- Contenedor de la tienda con rejilla usando Bootstrap -->
    <div class="container">
        <div class="row">
            {% for remoto in remotos %}
                <div class="col-lg-2 col-md-2 col-sm-3 col-4"> {# Esto crea columnas que ocupan 2/12 en lg, 2/12 en md, 3/12 en sm y 4/12 en xs (dispositivos pequeños) #}
                    <div class="remoto">
                        <div class="descripcion">
                            <strong>{{ remoto.codigo }}</strong>
                            {{ remoto.marca }}<br>
                            {{ remoto.get_tipo_display }}<br>
                        </div>
                        <div class="thumb">
                            {% if remoto.foto %}
                                <a href="{{ remoto.foto.url }}" target="_blank">
                                    <img src="{{ remoto.foto.url }}" alt="{{ remoto.codigo }}" class="thumb">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No hay productos disponibles en la tienda.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Paginación al final de la página -->
    <div class="pagination">
        <span class="step-links">
            {% if remotos.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ remotos.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">
                Página {{ remotos.number }} de {{ remotos.paginator.num_pages }}.
            </span>

            {% if remotos.has_next %}
                <a href="?page={{ remotos.next_page_number }}">next</a>
                <a href="?page={{ remotos.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock contenido %} {% endcomment %}
