{% extends 'base.html' %}
{% load static %}

{% block titulo %} LCDUNI: Catálogo OnLine {% endblock titulo %}

{% block cabecera %}
    <img src='{% static "img/tienda.png" %}' alt='tienda' class='icono'>
{% endblock cabecera %}

{% block contenido %}
    <div class="ordenar text-right">
        <form method="get" action="{% url 'tienda' %}" id="filtroForm">
            <label for="orden">.   Ordenar por:</label>
            <select name="orden" id="orden" onchange="document.getElementById('filtroForm').submit()">
                <option value="codigo" {% if request.GET.orden == 'codigo' %}selected{% endif %}>Código</option>
                <option value="marca" {% if request.GET.orden == 'marca' %}selected{% endif %}>Marca</option>
            </select>

            <label for="tipo">Filtrar por tipo:</label>
            <select name="tipo" id="tipo" onchange="document.getElementById('filtroForm').submit()">
                <option value="" {% if not request.GET.tipo %}selected{% endif %}>Todos</option>
                {% for value, display in Remoto.TIPO %}
                    <option value="{{ value }}" {% if request.GET.tipo == value %}selected{% endif %}>{{ display }}</option>
                {% endfor %}
            </select>
        </form>
    </div>

    <div class="container">
        <div class="row">
            {% for remoto in remotos %}
                <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                    <div class="remoto">
                        <div class="descripcion">
                            <strong>{{ remoto.codigo }}</strong><br>
                            
                        </div>
                        <div class="thumb">
                            {% if remoto.foto %}
                                <a href="{{ remoto.foto.url }}" target="_blank">
                                    <img src="{{ remoto.foto.url }}" alt="{{ remoto.codigo }}" class="thumb">
                                </a>
                            {% endif %}
                        </div>
                        <strong>{{ remoto.marca }}<br></strong>
                            {{ remoto.get_tipo_display }}<br>
                    </div>
                </div>
            {% empty %}
                <p>No hay modelos disponibles.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock contenido %}
